@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap');

.font-bree {
    font-family: 'Bree Serif', serif;
}

.font-elite {
    font-family: 'Special Elite', cursive;
}

.font-tapestry {
    font-family: 'Tapestry', cursive;
}

.bg-index {
    background-image: url('/albumcovers2.png');
    background-position: center;
    /* background-repeat: no-repeat; */
    /* position: relative; */
}

.glass_player {
    height: 30vh;
    background: rgba(71, 0, 0, 0.925);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

@media screen and (max-width: 992px) {

    .glass_player {
        height: 100vh;
        background: rgba(94, 3, 3, 0.925);
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;

    }
}