@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


.font-bree {
    font-family: 'Bree Serif', serif;
}

.font-elite {
    font-family: 'Special Elite', cursive;
}

.bg-index {
    background-image: url('/albumcovers2.png');
    background-position: center;
    /* background-repeat: no-repeat; */
    /* position: relative; */
}




.glass_player {
    min-height: 45rem;
    background: rgba(0, 0, 0, 0.7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-blend-mode: darken;

}

@media screen and (max-width: 992px) {

    .glass_player {
        min-height: 75vh;

        background: rgba(26, 15, 83, 0.7);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;

    }
}