/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tapestry&display=swap'); */
/* *{
    overflow-x: hidden;
} */
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
.font-bree {
    font-family: 'Bree Serif', serif;
}

.font-elite {
    font-family: 'Special Elite', cursive;
}

.font-tapestry {
    font-family: 'Tapestry', cursive;
}

.bg-index {
    background-image: url('/albumcovers2.png');
    background-position: center;
    /* background-repeat: no-repeat; */
    /* position: relative; */
}

.glass_player {
    /* height: 30vh; */
    background: rgba(0, 0, 0, 0.685);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: darken;

}

@media screen and (max-width: 992px) {

    .glass_player {
        /* height: 100vh; */
        /* background: rgb(0, 0, 0); */
    background: rgba(0, 0, 0, 0.349);
        /* background-attachment: fixed; */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-blend-mode: darken;

    }
}


/* .logo-text{
    display: grid;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  
  .logo-text p{
    grid-area: 1/1/-1/-1;
  }
  .logo-text p:nth-of-type(1){
    clip-path: polygon(0% 0%, 100% 0%, 100% 48%, 0% 58%);
  }
  
  .logo-text p:nth-of-type(2){
    clip-path: polygon(0% 60%, 100% 50%, 100% 100%, 0% 100%);
    color: transparent;
    background: -webkit-linear-gradient(177deg, black 53%, white 65%);
    background: linear-gradient(177deg, black 53%, white 65%);
    background-clip: text;
    -webkit-background-clip: text;
    transform: translateX(-0.02em); */
  /* } */
  .content {
    position: relative;
  }
  
  .content h2 {
    color: #fff;
    font-size: 8em;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
  .content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
  .content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }